.filterContainer {
  width: fit-content;
  min-height: 60vh;
  margin-right: 1rem;
}

.filterCollectionChange {
  display: flex;
  width: 300px;
  align-items: baseline;
  gap: 1em;
  font-weight: 700;
  border-width: 30px;
  border-bottom: 2px solid black;
  margin-bottom: 1.6rem;
}

.filterMinMax {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.filterMinMax p {
  font-weight: 500;
}

.filterTitle,
.filterSize {
  font-weight: 600;
  font-size: 1.2rem;
  margin: 0;
}
.filterSize {
  border-bottom: 1px solid black;
  margin-bottom: 1rem;
  padding-bottom: 0.2rem;
  padding-top: 0.2rem;
}

.filterSizeList ul {
  padding: 0;
  margin: 0.5rem 0.5rem;
  list-style: none;
  gap: 2rem;
  display: flex;
}

.filterName ul {
  padding: 0;
  margin: 0.5rem 0.5rem;
  display: flex;
  gap: 1rem;
}

.filterName li {
  list-style: none;
  margin: 0;
}

.sizeInput {
  width: 3rem;
  height: 1.7rem;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  border: 2px solid rgba(65, 64, 72, 0.205);
  border-radius: 4px;
  box-shadow: 0 3px 3px -4px #1d151562;
  background-color: rgba(228, 226, 226, 0.24);
}
.cancelMinMax,
.cancel {
  color: red;
  font-weight: 600;
}

.cancelMinMax {
  margin: 0;
  margin-left: 2rem;
  font-size: 1.1rem;
}

@media (max-width: 960px) {
  .filterContainer {
    width: 100%;
    height: fit-content;
    min-height: auto;
    margin-bottom: 2rem;
    margin-right: 2rem;
  }
}
