.filterContainer {
  width: fit-content;
  min-height: 60vh;
  margin-right: 2rem;
}

.filterCollectionChange {
  display: flex;
  align-items: baseline;
  gap: 1em;
  font-weight: 700;
  border-width: 30px;
  border-bottom: 3px solid black;
}

@media (max-width: 960px) {
  .filterContainer {
    width: 100%;
    height: fit-content;
    min-height: auto;
    margin-bottom: 2rem;
    margin-right: 2rem;
  }
}
