.productLineDiv {
  margin: 2rem;
}

.productLineItemCards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
}

.productLineShopContainer {
  margin: 2rem;
}
.fallAboutHeader {
  display: flex;
  flex-direction: column;
  background-color: #f58549;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10vh;
  color: rgba(0, 0, 0, 0.815);
  color: aliceblue;
}

@media (max-width: 1700px) {
  .productLineItemCards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.5rem;
  }
}

@media (max-width: 1200px) {
  .productLineItemCards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
  }
}

@media (max-width: 960px) {
  .productLineShopContainer {
    margin: 2rem;
    flex-direction: column;
    justify-items: center;
  }
}

@media (max-width: 700px) {
  .productLineItemCards {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
  }
}
